@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <a asp-action="NewQuizz">Générer un nouveau quiz</a><br/>
    <a asp-action="PassQuiz">Passer un quiz</a><br/>
    <a asp-action="ReviserQuiz">Reviser un quiz</a>

</div>
